##
#### Environment
##* HARVEST_INPUT_FOLDER defines where to get input
HARVEST_INPUT_FOLDER=<<HARVEST_INPUT_FOLDER>>

##* HARVEST_OUTPUT_FOLDER defines where to send output
HARVEST_OUTPUT_FOLDER=<<HARVEST_OUTPUT_FOLDER>>

##* HARVEST_OUTPUT_FILENAME defines the name of the output file
HARVEST_OUTPUT_FILENAME=ReadMe.md
